.admins-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
}

@media (max-width: 471px) {
  .admins-container {
    width: 100%;
  }
}

.admins-text {
  color: var(--color-white);
}

.admins-header {
  text-align: center;
  color: var(--color-green-separator);
}

.admins-plus-icon {
  position: relative;
  cursor: pointer;
  left: 95%;
  bottom: 10px;
}
@media (max-width: 471px) {
  .admins-plus-icon {
    left: 85%;
  }
}

.admins-delete-icon {
  cursor: pointer;
}
.admins-edit-icon {
  cursor: pointer;
}
