.home-container {
  width: 70%;
  margin: 0 auto;
}

.home-title {
  color: var(--color-white);
  font-family: Latin Becker;
}

.home-text {
  color: var(--color-white);
}

.separator {
  height: 3px; /* Altura de la línea separadora */
  background-color: var(--color-white); /* Color de la línea separadora */
  transform: translateY(-1px); /* Corrección para que quede centrada */
}
