.edit-album-modal-body {
  height: 400px !important;
  display: flex;
  justify-content: center;
  border: var(--color-green-separator) 1px solid;
  border-radius: 2%;
}

.edit-album-modal-content {
  background-color: var(--color-gray-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3rem;
}

.edit-album-modal-text {
  color: var(--color-white);
}

.edit-album-modal-input-group {
  background-color: var(--color-gray-dark);
  padding: 0.5rem;
  color: var(--color-white);
}

.edit-album-modal-btn {
  --green: #1bfd9c;
  font-size: 15px;
  padding: 0.7em 1.5em;
  width: 100%;
  margin-top: 2rem;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.edit-album-modal-btn:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.edit-album-modal-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.edit-album-modal-btn:hover:before {
  transform: translateX(15em);
}

.edit-album-modal-error-message {
  color: var(--color-red-alert);
}
