.footer-thin {
  background-color: var(--color-gray-dark);
  display: flex;
  justify-content: start;
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  margin: 0;
}

#footer {
  background-color: var(--color-black);
  color: var(--color-white);
  margin-top: auto;
  position: sticky;
}

.footer-text {
  text-decoration: none;
  background-color: transparent;
  border: transparent;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 0.7rem;
  text-align: left;
  margin: 0;
  padding-bottom: 0.6rem;
  color: var(--color-white);
  width: 100%;
}

.footer-logo {
  height: auto;
  width: 150px;
}

.footer-title {
  pointer-events: none;
  letter-spacing: 3px;
  color: var(--color-gray);
  text-align: left;
  font-size: 1rem;
  width: 100%;
}
.footer-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer-partner {
  background-color: var(--color-green-separator);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
}

.footer-partner-text {
  color: var(--color-gray-dark);
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
  /* Estilos iniciales para la animaci贸n */
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.appear-from-left {
  /* Estilos finales para la animaci贸n */
  transform: translateX(0);
  opacity: 1;
}

.footer-partner-logo {
  height: auto;
  width: 200px;
  /* Estilos iniciales para la animaci贸n */
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.appear-from-right {
  /* Estilos finales para la animaci贸n */
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 991px) {
  .footer-partner-logo {
    margin-bottom: 1.3rem;
  }
}

.footer-fat {
  display: flex;
  justify-content: center;
  max-width: 70%;
  margin: 20px auto 30px auto;
}

.footer-fat,
.footer-thin {
  backdrop-filter: brightness(80%);
}

.footer-text-copy-names {
  padding-left: 1.5rem;
  font-size: 0.6rem;
  text-align: left;
  color: var(--color-white);
  margin: 0;
}
.footer-text-copy-names {
  text-align: center;
}
