.navbar-orejanos {
  color: var(--color-white);
  background-color: var(--color-black);
  width: 100vw;
  z-index: 999;
}

.navbar-logo {
  height: 125px;
}

@media (max-width: 992px) {
  .navbar-logo {
    height: 60px;
  }
}

.navbar-orejanos .nav-dropdown .dropdown-toggle {
  color: var(--color-white);
}
