.navbar-orejanos {
  position: fixed;
  color: var(--color-white);
  background-color: var(--color-black);
  width: 100vw;
  z-index: 999;
}

.navbar-logo {
  height: auto;
  width: 150px;
}

@media (max-width: 992px) {
  .navbar-logo {
    width: 66px;
  }
}

.navbar-logo:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgb(27, 253, 155);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../assets/list_hamburger_icon.svg);
}

.navbar-orejanos .nav-dropdown .dropdown-toggle {
  color: var(--color-white);
}

.offcanvas-orejanos {
  background-color: var(--color-black-transparent);
}

.offcanvas-title {
  color: var(--color-white);
  font-family: Latin Becker;
}
