:root {
  --color-white: whitesmoke;
  --color-black: #000000;
  --color-black-transparent: rgba(0, 0, 0, 0.8);
  --color-gray: #9d9d9d;
  --color-gray-transparent: #9d9d9d2f;
  --color-grey-header: #d4d4d4;
}
@font-face {
  font-family: Pinyon;
  src: url(./assets/fonts/Ailerons-TrialVersion.otf);
}
@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand.ttf);
}
@font-face {
  font-family: Cormorant;
  src: url(./assets/fonts/cgB.ttf);
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-black);
}

*::selection {
  color: var(--color-black);
  background-color: var(--color-white);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.btn-kairos {
  font-size: 17px;
  width: fit-content;
  margin: 0 auto;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  text-transform: uppercase;
  position: relative;
  transition: 0.3s ease;
  border-bottom: 1px solid var(--color-white);
  border-radius: 0 !important;
}

.btn-kairos::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.btn-kairos:hover {
  color: #000000;
  transition-delay: 0.3s;
}

.btn-kairos:hover::before {
  width: 100%;
}

.btn-kairos::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  transition: 0.2s ease;
  z-index: 0;
}

.btn-kairos:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: #ffffff;
}

.btn-kairos-content {
  position: relative;
  z-index: 500;
}

.btn-gray {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.btn-gray:hover {
  background-color: grey;
  color: white;
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
